version: "3"
{% block config_context %}
services:

  # Image build: WAF3 dependencies. Build an intermediate WAF3 base image to 
  # save time on subsequent builds.
  waf3_dep:
      build:
          context: ./waf3_dep
          dockerfile: Dockerfile
      image: waf3_dep:latest

  # Image build: WAF3. Use the intermediate "waf3_dep" base image to build the
  # final waf3 image.
  waf3:
      build:
          context: ./waf3
          dockerfile: Dockerfile
      image: waf3:latest
    
  # Service: NGINX used as a reverse proxy.
  nginx:
    restart: always
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx0
    environment:
      CERTBOT_EMAIL: {{ CERTBOT_EMAIL }}
    ports:
      # Map the ports on the host to ports in the docker container:
      - 80:80/tcp
      - 443:443/tcp
    volumes:
        #-----------------------------------------------------------------------------# 
        #     Set up bind volumes. Map host directories to container directories:     #
        #                                                                             #
        #              {Directory on host}:{Directory in docker container}            # 
        #                                                                             #
        #     For the bind mounts specified in the following, we have that            #
        #     directories on the host machine and the directories witin the           #
        #     docker container are assumed to both remain fixed.                      #
        #-----------------------------------------------------------------------------#
        # Let's Encrypt certificate directory.
        # Use ":rw" - read and write access.
        # Certbot needs to be able to write to this directory.
        - ./nginx/https/etc/letsencrypt:/etc/letsencrypt:rw
        # NGINX configuration files. Use ":ro" - read only access.
        - ./nginx/conf.d:/etc/nginx/user.conf.d:ro
        # The path to where Diffie-Hellman (DH) certificates are located.
        # Use ":ro" - read only access
        - ./nginx/dhparams:{{ NGINX_DHPARAMS_DIR }}:ro

  # Service: The main web application we should direct traffic to.
  web:
    restart: always
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: web0

{% endblock %}